@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,500&display=swap');

.avatar-container .Player-username {
    font-size: 2em;
    font: 'EB Garamond';
}

.container {
    max-width: none !important;
    background-image: url('https://i.imgur.com/cyHhCdz.png'); /* psychedelic desert */
    background-color: #21222c;
}
