@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,500&display=swap');

.avatar-container .Player-username {
    font-size: 2em;
    font: 'EB Garamond';
}

.container {
    max-width: none !important;
    /* background-color: #21222c; */
    
    /* Images */
    
    /* Joaninha                           |    background-image: url('https://i.imgur.com/n4LeSqO.jpeg'); */
    /* psychedelic desert                 |    background-image: url('https://i.imgur.com/cyHhCdz.png'); */
    /* pink dracula castle                |    background-image: url('https://media4.giphy.com/media/eJoGJF8lASakPof1h2/giphy.gif?cid=790b76113b8c6801806a5cbc6c1f2fbf2112fde8d1f5bb95&rid=giphy.gif'); */
    /* plage gif                          |    background-image: url('https://i.pinimg.com/originals/9d/3a/41/9d3a41e1e7e6dcf1d4bd2fcbc56779e7.gif'); */
    /* embarrassment is the cost of entry | */ background-image: url('https://i.imgur.com/0NTaxZn.jpeg');
    /* black and white mountain top       |    background-image: url('https://wallpaperaccess.com/full/2109.jpg'); */
}
