@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');

.avatar-container .Player-username {
    font-size: 2em;
    font: 'EB Garamond';
}

.container {
    max-width: none !important;
    background-color: #21222c;
}
